<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/settings">Settings</a>
		  <a href="/logout">Logout</a>
</div>
<div class="content">
<h2>{{name}}</h2>
<form id="edit-form" method="GET" action="/edit/{{id}}">
	<input type="hidden" name="editChar" id="editChar" value="{{id}}"/>
	<button type="submit">Edit</button>
</form>
<form id="fav-form" method="POST" action="/favorite/">
	<input type="hidden" name="favChar" id="favChar" value="{{id}}"/>
	<button type="submit">Favorite</button>
</form>
<p id="result">{{result}}</p>
</form>
<img src="{{{comicLook}}}" style="width:200px;height:200px;">
<img src="{{{movieLook}}}" style="width:200px;height:200px;">
	<ul>
        <li>Alter Ego: {{altEgo}}</li>
        <li>Universe: {{universe}}</li>
		<li>Movies: {{movies}}</li>
        <li>Nemeses: {{nemeses}}</li>
        <li>Powers: {{powers}}</li>
        <li>Background: {{background}}</li>
    </ul>
</div>
