<h1>{{title}}</h1>
<h2>{{name}}</h2>
<img src="{{{movieLook}}}" style="width:500px;height:600px;">
<img src="{{{comicLook}}}" style="width:500px;height:600px;">
<main>
	<dl>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Alter Ego</dt>
        <dd>{{altEgo}}</dd>
        <dt>Universe</dt>
        <dd>{{universe}}</dd>
        <dt>Nemeses</dt>
        <dd>{{nemeses}}</dd>
        <dt>Powers</dt>
        <dd>{{powers}}</dd>
        <dt>Movies</dt>
        <dd>{{movies}}</dd>
        <dt>Background</dt>
        <dd>{{background}}</dd>
    </dl>
    <form>
        name:<br>
        <input type="text" name="name" value="{{name}}"><br>
        altEgo:<br>
        <input type="text" name="altEgo" value="{{altEgo}}"><br>
        universe:<br>
        <input type="text" name="universe" value="{{universe}}"><br>
        films (separated by commas):<br>
        <input type="text" name="films" value="{{films}}"><br>
        nemeses (separated by commas):<br>
        <input type="text" name="nemeses" value="{{nemeses}}"><br>
        powers (separated by commas):<br>
        <input type="text" name="powers" value="{{powers}}"><br>
        background:<br>
        <input type="text" name="background" value="{{background}}"><br>
        Movie Look:<br>
        <input type="text" name="movieLook" value="{{movieLook}}"><br>
        Comic Look:<br>
        <input type="text" name="comicLook" value="{{comicLook}}"><br>
        <input type="submit" value="Submit">
    </form>

</main>