<h1>{{title}}</h1>
<h2>{{name}}</h2>
<img src="{{{movieLook}}}" style="width:500px;height:600px;">
<img src="{{{comicLook}}}" style="width:500px;height:600px;">
<main>
	<dl>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Alter Ego</dt>
        <dd>{{altEgo}}</dd>
        <dt>Universe</dt>
        <dd>{{universe}}</dd>
        <dt>Nemeses</dt>
        <dd>{{nemesis}}</dd>
        <dt>Powers</dt>
        <dd>{{powers}}</dd>
        <dt>Movies</dt>
        <dd>{{movies}}</dd>
        <dt>Background</dt>
        <dd>{{background}}</dd>
    </dl>
</main>
