<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/settings">Settings</a>
		  <a href="/logout">Logout</a>
</div>
<div class="content">
<h1>{{title}}</h1>
<h2>{{name}}</h2>
<img src="{{{movieLook}}}" style="width:200px;height:200px;">
<img src="{{{comicLook}}}" style="width:200px;height:200px;">
	<dl>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Alter Ego</dt>
        <dd>{{altEgo}}</dd>
        <dt>Universe</dt>
        <dd>{{universe}}</dd>
        <dt>Nemeses</dt>
        <dd>{{nemesis}}</dd>
        <dt>Powers</dt>
        <dd>{{powers}}</dd>
        <dt>Movies</dt>
        <dd>{{movies}}</dd>
        <dt>Background</dt>
        <dd>{{background}}</dd>
    </dl>
</div>
