<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/settings">Settings</a>
		  <a href="/logout">Logout</a>
</div>
<div class="content">
<h1>{{title}}</h1>
<h2>{{name}}</h2>
<img src="{{{comicLook}}}" style="width:200px;height:200px;">
<img src="{{{movieLook}}}" style="width:200px;height:200px;">
	<ul>
        <li>Name: {{name}}</li>
        <li>Alter Ego: {{altEgo}}</li>
        <li>Universe: {{universe}}</li>
        <li>Nemeses: {{nemesis}}</li>
        <li>Powers: {{powers}}</li>
        <li>Movies: {{movies}}</li>
        <li>Background: {{background}}</li>
    </ul>
</div>
